# entorno virtual
envtransito/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# jupyter
.ipynb_checkpoints/

# vscode
.vscode/

# archivos temporales
*.log
*.tmp
*.bak

# variables sensibles
.env
secrets.toml

# Streamlit local
.streamlit/secrets.toml

# Sistema operativo
.DS_Store
Thumbbs.db

# Carpetas de trabajo
flujos_trabajo/

# Build / dist
dist/
build/
*.egg-info/